/* ExploreMenu.css */

.explore-menu {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.explore-menu h1 {
    color: #333;
    font-weight: 500;
    font-family: 'Open Sans', sans-serif;
}

.explore-menu-description {
    max-width: 60%;
    color: #424242;
    /* Darker text for better readability */
}

.explore-menu-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    gap: 30px;
    margin: 20px 0px;
    overflow-x: scroll;
}

.explore-menu-list ::-webkit-scrollbar {
    display: none;
}

.explore-menu-list-item {
    cursor: pointer;
}

.explore-menu-list-item img {
    width: 7.5vw;
    min-width: 80px;
    cursor: pointer;
    border-radius: 50%;
    /* Hình tròn */
    transition: border 0.2s;
    /* Hiệu ứng khi chọn */
    border: 2px solid transparent;
    /* Border mặc định */
}

.explore-menu-list-item.active img {
    border-color: tomato;
    /* Màu border khi mục được chọn */
}

.explore-menu-list-item p {
    margin-top: 10px;
    color: #424242;
    font-size: 16px;
    /* Adjust base font size */
    cursor: pointer;
}

.explore-menu hr {
    margin: 10px 0px;
    height: 2px;
    background-color: #e2e2e2;
    border: none;
}